body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1 {
	height: 38px;
	background: #376996;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}


.dark {
	padding:15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Header */
header {
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #376996 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header h1 {
	margin-bottom: 10px;
	padding-bottom: 15px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #48ACF0;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* Heading */
.heading {
	padding: 15px;
	color: #ffffff;
	background: #35424a;
}

.heading h1 {
	text-align: center;
	font-size: 45px;
}

/* Contact Form */
.contact input {
	height: 30px;
	margin-bottom: 15px;
	width: 500px;
}

.contact textarea {
	height: 150px;
	width: 500px;
}

.required {
	color: #ff0000;
}

/* Main-col */
article#main-col {
	min-height: 750px;
	margin-top: 25px;
	float: left;
	width: 65%;
}

footer {
	background: #35424a;
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {
	header #branding,
	header nav,
	header nav li,
	.heading h1,
	article#main-col {
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		padding-bottom: 20px;
	}

	.contact button {
		display: block;
		width: 100%;

	}

	.contact input, .contact textarea {
		width: 100%;
		margin-bottom: 5px;
	}
}